<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__intro">
      <p class="site-footer__eyebrow">{{ .Site.Params.footer_eyebrow }}</p>
      <p class="site-footer__title">{{ .Site.Title }}</p>
      <p class="site-footer__meta">{{ .Site.Params.footer_meta }}</p>
      <a class="site-footer__mail" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
    </div>
    <div class="site-footer__connect">
      <p class="site-footer__connect-label">{{ i18n "footer_profiles" }}</p>
      {{ partial "social-links.html" (dict "wrapperClass" "site-footer__social" "linkClass" "social-link social-link--footer") }}
    </div>
  </div>
</footer>
